@media only screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
    /* #img-wrapper {
        padding-top: 5%;
        padding-bottom: 5%;
    } */
    .flex-container {
        flex-direction: column;
        padding: 20% 10% 10%;
    }
    .button {
        font-size: 1.5rem;
    }
    .message-body {
        padding-bottom: 5rem;
    }
    .footer {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }
}
@media only screen and (min-width:769px) {
    html {
        font-size: 12px;
    }
    .flex-container {
        padding: 7.5% 10% 10%;
    }
    .message-body {
        padding-bottom: 2rem;
    }
    .footer {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}

body {
    height:100vh;
    width: 100%;
    overflow: hidden;
}

img {
    width: 75%;
    height: auto;
}

.container {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    min-height: 500px;
    width: 80%;
    min-width: 700px;
}

.error-code-text {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    padding: 2rem 0px 0px 3rem;
}

.message-header {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    line-height: 8rem;
    letter-spacing: -0.035em;
    margin-top: 0px;
    width: 95%;
}

.message-body {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.035em;
    width: 70%;
    color: 4F4F4F;
}

.button {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 20vh;
    height: 7.5vh;
    text-align: center;
    line-height: 7.5vh;
}

.flex-elem-wrapper {
    width: 50%;
    height: auto;
}


.footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}